<h2>Sobre</h2>
<hr>

<p>O projeto MediaViz visa dar resposta a questões como:</p> 

<ul style="list-style-type: circle; margin-left: 2em; margin-bottom: 1em;">
	<li>Qual a cobertura e atenção que determinado tema recebeu ou está a receber dos media?</li>
	<li>Qual o perfil de publicação de diferentes fontes ao longo do tempo?</li>
	<li>Quantas partilhas nas redes sociais tiveram os artigos sobre determinado tema?</li>
</ul>

<p>Para atingir este objectivo, foi desenvolvida uma aplicação Web que disponibiliza um conjunto de ferramentas de visualização para explorar e interagir com informação extraída dos artigos de múltiplas fontes noticiosas online. As fontes incluem os principais órgãos de comunicação social portugueses presentes na Web, assim como algumas fontes internacionais e blogues portugueses seleccionados.</p>

<p ng-show="stats">O arquivo está em constante actualização e é constituído, neste momento, por {{ stats.articles_count }} artigos de {{ stats.sources_count }} fontes distintas, publicados através de {{ stats.feeds_count }} feeds.</p>

<p>Projeto financiado pela <a href="http://fe.up.pt">Faculdade de Engenharia da Universidade do Porto</a> e <a href="http://labs.sapo.pt">SAPO Labs UP</a>.</p>

<h3>Ferramentas disponíveis</h3>

<h4><a href="#/chronicle">Crónica</a></h4>
<p>Visualizar e comparar a utilização de palavras-chave em artigos de um conjunto de fontes noticiosas online ao longo do tempo.</p>

<h4><a href="#/flow">Fluxo</a></h4>
<p>Visualizar e comparar os horários e fluxos de publicação de múltiplas fontes noticiosas online.</p>

<h4><a href="#/compare">Comparador</a></h4>
<p>Comparar a utilização de palavras-chave entre diferentes fontes noticiosas online ao longo do tempo.</p>

<h4><a href="#/social">Social</a></h4>
<p>Comparar as partilhas nas redes sociais dos artigos de diferentes fontes noticiosas online ao longo do tempo.</p>

<h3>Autoria</h3>

<p>Sérgio Nunes (orientador)</p>
<p>Tiago Devezas (investigador)</p>

<!-- <p><strong>Lista completa de fontes</strong></p>

<div ng-repeat="source in sourceListOriginal">
	<p>{{source.name}}</p>
</div> -->