<h2 style="margin-bottom: .5em;">About</h2>

<p>The study and analysis of online media content can be complex and time-consuming. Content is increasingly scattered across multiple sources, due to the rise of easy to use online publishing tools and social media.</p>
<p>The MediaViz platform aims to assist in better understanding the dynamics, trends, and patterns of this large media archive. The system continuously collects the content published by a set of user-defined online sources, persists it in a database, and makes it available through an API. The data provided by the API is consumed by a set of interactive visualization tools, allowing users to explore and analyze it.
</p>

<p>Project funded by <a href="http://labs.sapo.pt">SAPO Labs/U. Porto</a>.</p>

<h3 style="margin-bottom: .5em;">Tools</h3>

<h4><a href="#/chronicle">Chronicle</a></h4>
<p>The Chronicle tool displays which topics have been or currently are under the media's spotlight, and how their coverage changes throughout time and according the nature of the sources selected.</p>

<h4><a href="#/flow">Flow</a></h4>
<p>The Flow tool allows users to visualize and compare article publication and share count patterns of online sources according to distinct temporal granularities.</p>

<h4><a href="#/newsmap">NewsMap</a></h4>
<p>The NewsMap allows users to visualize a source's (or group of sources) geographic coverage, both at the international and national level. Users can also input text to find co-occurrences of the introduced search term and the countries’ or Portuguese subdivisions’ names.</p>

<h3 style="margin-bottom: .5em;">Authors</h3>

<p>Sérgio Nunes (Research Advisor) - <a href="mailto:sergio.nunes@fe.up.pt?Subject=MediaViz%20inquiry">sergio.nunes@fe.up.pt</a></p>
<p>Tiago Devezas (Researcher) - <a href="mailto:tdevezas@fe.up.pt?Subject=MediaViz%20inquiry">tdevezas@fe.up.pt</a></p>

<!-- <p><strong>Lista completa de fontes</strong></p>

<div ng-repeat="source in sourceListOriginal">
	<p>{{source.name}}</p>
</div> -->