<div style="max-width: 650px;">

<h2 style="margin-bottom: .5em;">MediaViz: An Interactive Visualization Platform for Online
Media Studies</h2>

<p><span style="font-weight: bold; color: #000;">Tiago Devezas</span> - SAPO Labs/U. Porto</p>
<p><span style="font-weight: bold; color: #000;">Sérgio Nunes</span> - INESC TEC and Department of Informatics Engineering, Faculty of Engineering, University of Porto</p>
<p><span style="font-weight: bold; color: #000;">María Teresa Rodríguez</span> - INESC TEC</p>

<hr>
<p>The MediaViz project is a work-in progress platform that aims to provide researchers, academics and professionals from the media field with a set of analytical and exploratory resources to answer high level and complex questions about the online media panorama, in an efficient, visual and interactive way.</p>

<p>Our approach consists of aggregating and processing news data from multiple online sources, and provide programatic access to it through an Application Programming Interface (API). The visualization tools leverage the data provided by the API, allowing users to interact, explore and interrogate that information.</p>

<p>Through the use of data visualization techniques, we aim to characterize the publication patterns of multiple online news sources by analyzing and comparing distinct dimensions. Dimensions of interest include the frequency and flow of publications and social shares throughout time, and the geographic coverage of online news outlets.</p>

<p>The developed visualization tools aim to offer meaningful insights by providing a bird’s-eye view
of distinct characteristics of the online mediascape.
</p>

<p>An article presenting the MediaViz platform and visualization tools is available in the <a href="https://dl.acm.org/citation.cfm?id=2808474">ACM Digital Library</a>.</p>

<h3 style="margin-bottom: .5em;">Tools</h3>

<h4><a href="#/chronicle">Chronicle</a></h4>
<p>The Chronicle tool displays which topics have been or currently are under the media's spotlight, and how their coverage changes throughout time and according the nature of the sources selected.</p>

<h4><a href="#/flow">Flow</a></h4>
<p>The Flow tool allows users to visualize and compare article publication and share count patterns of online sources according to distinct temporal granularities.</p>

<h4><a href="#/newsmap">NewsMap</a></h4>
<p>The NewsMap allows users to visualize a source's (or group of sources) geographic coverage, both at the international and national level. Users can also input text to find co-occurrences of the introduced search term and the countries’ or Portuguese subdivisions’ names.</p>

</div>

<!-- <p><strong>Lista completa de fontes</strong></p>

<div ng-repeat="source in sourceListOriginal">
	<p>{{source.name}}</p>
</div> -->