<div id="articles" layout-padding layout-margin>
	<md-content class="md-whiteframe-z1 md-padding">
		<form ng-submit="setQuery(inputKeyword)">
			<md-input-container md-no-float style="margin-bottom: 0;">
	      <md-icon>search</md-icon>
	      <input type="text" ng-model="inputKeyword" placeholder="Insert term">
	    </md-input-container>
    </form>
    <md-content layout="row" layout-align="start center">
      <source-select class="md-padding" source-list="sourceList" selected-source="urlParams.source" style="padding-left: 0;"></source-select>
      <date-select style="margin: 0 10px;"></date-select>
      <date-picker></date-picker>
    </md-content>
	</md-content>

	<loading-flash></loading-flash>

	<div layout-gt-md="row" layout="column" style="margin: 8px; padding: 0px;">

		<md-content flex-gt-md="55" tagged-infinite-scroll="getMore()" tagged-infinite-scroll-disabled="fetching || disabled" tagged-infinite-scroll-distance="200">

			<md-list style="padding: 0;">
	     	<md-divider></md-divider>
				<md-list-item class="md-3-line list-item-hoverable" ng-repeat="item in items">
					<div class="md-list-item-text" layout="column">
						<a href="" style="text-decoration: none;" ng-click="showArticle($event, item)">
			        <h3 style="font-weight: 500;">{{ item.title }}</h3>
			        <h4 ng-bind-html="item.content | words:15" class="item-text h4" style="margin: 10px 0;"></h4>
			        <p>{{item.source}} - {{ item.published | date:'yyyy-MM-dd' }}</p>
		        </a>
		      </div>
	       	<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</md-content>

		<span flex-gt-md="45"></span>

		<script type="text/ng-template" id="article_dialog.tmpl.html">
		<md-dialog aria-label="{{item.title}}" ng-cloak flex-gt-md="50">
			<div class="md-toolbar-tools" style="min-height: 55px;">
	       <span flex></span>
	       <md-button class="md-icon-button" ng-click="cancel()">
	         <md-icon aria-label="Close dialog">close</md-icon>
	       </md-button>
	     </div>

	     <md-dialog-content>
		     <div class="md-dialog-content" style="padding-top: 0px;">
		     	<h2 style="margin-top: 0px">{{item.title}}</h2>
		     	<p style="color: rgba(0,0,0,0.54); font-weight: 500;">{{item.source}} - {{ item.published | date:'yyyy-MM-dd' }}</p>
		     	<div style="white-space: pre-wrap;">{{item.content}}</div>
		     </div>
	     </md-dialog-content>

	     <md-dialog-actions layout="row">
	     <md-button ng-click="cancel()">OK</md-button>
	     </md-dialog-actions>
		</md-dialog>
		</script>

	</div>

</div>