  <div class="md-toolbar-tools">
    <div layout="row" layout-align="center center">
    	<h1 class="md-padding" style="padding-left: 0;">{{pageTitle.split(" || ")[1]}}</h1>
      <source-select class="md-padding" default-source="defaultSource"></source-select>
      <md-select class="md-padding" placeholder="Dados" ng-model="selectedDataType" style="font-size: 16px;">
        <md-option ng-repeat="option in dataTypes" value="{{option.type}}">{{option.type}}</md-option>
      </md-select>
      <date-select style="font-size: 16px;"></date-select>
    </div>
  </div>