<loading-flash>A carregar...</loading-flash>

<div class="chronicle-items">
	<ul class="source-type-links">
		<li class="all" ng-class="{'selected':sourceFilter === ''}"><a href="" ng-click="sourceFilter = ''">Tudo</a></li>
		<li class="newspapers" ng-class="{'selected':sourceFilter === 'newspaper'}"><a href="" ng-click="sourceFilter = 'newspaper'">Jornais</a></li>
		<li class="blogs" ng-class="{'selected':sourceFilter === 'blog'}"><a href="" ng-click="sourceFilter = 'blog'">Blogs</a></li>
	</ul>
	<article class="chronicle-item {{ item.source_type }}" ng-repeat="item in chronicleItems | filter: sourceFilter">
		<p class="item-pub-date">{{ item.pub_date | date:'yyyy-MM-dd HH:mm' }}</p>
				<p class="item-source">{{ item.source }} </p>
		<h1 class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></h1>
	</article>
</div>