<div id="chronicle">

	<h3>Chronicle</h3>

	<div class="search-form">
		<div class="keyword-select">
			<ui-select multiple tagging tagging-label="false" ng-model="keywords.selected" style="min-width: 400px;" reset-search-input="true" search-enabled="false" on-select="addKeyword($item, $model)" on-remove="removeKeyword($item, $model)">
		    <ui-select-match placeholder="Insert search terms...">{{$item}}</ui-select-match>
		    <ui-select-choices repeat="keyword in keywords.selected">
		      {{ keyword }}
		    </ui-select-choices>
		  </ui-select>
		  <button class="clear-chart" ng-click="clearChart()">Clear</button>		
		</div>

		<div class="field-select">
			<span><strong>Fields to search: </strong></span>
			<label>Title or summary</label>
			<input type="radio" value="title_summary" ng-model="searchFields" ng-change="redrawChart()">

			<label>Title</label>
			<input type="radio" value="title" ng-model="searchFields" ng-change="redrawChart()">

			<label>Summary</label>
			<input type="radio" value="summary" ng-model="searchFields" ng-change="redrawChart()">
		</div>		
	</div>


	<div class="search-tools">
		<ul style="float: left;">
			<li><a href="" ng-click="setDataFormat('absolute')" ng-class="{'selected':dataFormat === 'absolute'}">Total</a></li>
			<li><a href="" ng-click="setDataFormat('relative')" ng-class="{'selected':dataFormat === 'relative'}">Percent</a></li>
			<li class="menu-separator"> | </li>
			<li><a href="" ng-click="setSourceType('national')" ng-class="{'selected':sourceType === 'national'}">Portuguese media</a></li>
			<li><a href="" ng-click="setSourceType('international')" ng-class="{'selected':sourceType === 'international'}">International media</a></li>
			<li><a href="" ng-click="setSourceType('blogs')" ng-class="{'selected':sourceType === 'blogs'}">Blogs</a></li>
			<li><a href="" ng-click="setSourceType('all')" ng-class="{'selected':sourceType === 'all'}">All</a></li>
		</ul>
		<div style="float: right;">
			<label for="chart-type-select" style="float:left;">Chart type &nbsp;&nbsp;</label>
			<select-chart-type></select-chart-type>
			<!-- <select id="chart-type-select" ng-model="chartType.selected" ng-options="chart.name for chart in chartTypes" ng-change="setChartType(chartType.selected)" style="float: left;"></select> -->
		</div>
<!-- 		<ul style="float: right;">
			<li><a href="" ng-click="setChartType('line')" ng-class="{'selected':chartType === 'line'}">Linhas</a></li>
			<li><a href="" ng-click="setChartType('spline')" ng-class="{'selected':chartType === 'spline'}">Linhas 2</a></li>
			<li><a href="" ng-click="setChartType('area')" ng-class="{'selected':chartType === 'area'}">Área</a></li>
			<li><a href="" ng-click="setChartType('area-spline')" ng-class="{'selected':chartType === 'area-spline'}">Área 2</a></li>
			<li><a href="" ng-click="setChartType('bar')" ng-class="{'selected':chartType === 'bar'}">Barras</a></li>
			<li><a href="" ng-click="setChartType('donut')" ng-class="{'selected':chartType === 'donut'}">Donut</a></li>
		</ul> -->
	</div>


	<loading-flash>Loading...</loading-flash>

	<div id="keyword-chart" style="margin-top: 1em;">
	</div>

</div>