<h3>Flow</h3>

<div class="content-well">
	Some text
</div>

<div class="flow">
	<ui-select multiple ng-model="selectedSources.selected" ng-change="loadSourceData()" ng-disabled="disabled" style="min-width: 300px;" reset-search-input="true">
		<ui-select-match placeholder="Escolher fontes...">
			{{$item.name}}
		</ui-select-match>
		<ui-select-choices repeat="source in sourceList | filter: $select.search" group-by="groupSourcesByType">
			{{source.name}}
			<div ng-bind-html="trustAsHtml((source.name | highlight: $select.search))"></div>
		</ui-select-choices>
	</ui-select>

	<p>
		Mostar por: <a href="" ng-click="displayBy('hour')" ng-class="{'selected':by === 'hour'}">Hora</a> <a href="" ng-click="displayBy('day')" ng-class="{'selected':by === 'day'}">Dia</a>
	</p>

	<div id="time-chart">
	</div>
</div>