<div id="chronicle" layout-padding>

<md-content class="md-whiteframe-z1 md-padding">

	<div flex layout="row">
		<div flex="85">
			<md-chips ng-model="keywords.selected" placeholder="Introduzir termo" secondary-placeholder="Introduzir termo"></md-chips>			
		</div>
		<div flex="15" layout="row" layout-align="center center">
			<md-button class="md-raised md-warn" ng-click="clearChart()" ng-disabled="!keywords.selected.length">Limpar</md-button>			
		</div>
	</div>

  <div layout="row" layout-align="start center" ng-show="keywords.selected.length">
    <source-select class="md-padding" source-list="sourceList" selected-source="urlParams.source" style="padding-left: 0;"></source-select>
    <type-select ng-show="!SAPOMode" style="margin: 0 10px;"></type-select>
    <date-select style="margin: 0 10px;"></date-select>
    <cycle-select ng-show="SAPOMode" style="margin: 0 10px;"></cycle-select>
    <date-picker></date-picker>
  </div>

</md-content>

	<md-content ng-show="keywords.selected.length" class="md-whiteframe-z1" style="margin-top: 20px;">
    <download-bar></download-bar>
		<div c3-chart dataset="timeData" type="area" options="timeChartOpts" xs="xsObj" style="padding:5px 0;"></div>
	</md-content>

</div>