<div id="chronicle" layout-padding>

  <md-content class="md-whiteframe-z1 md-padding">

  	<div flex layout="row">
  		<div flex="85">
  			<md-chips ng-model="keywords.selected" placeholder="Insert term" secondary-placeholder="Insert term"></md-chips>			
  		</div>
  		<div flex="15" layout="row" layout-align="center center">
  			<md-button class="md-raised md-warn" ng-click="clearChart()" ng-disabled="!keywords.selected.length">Clear</md-button>			
  		</div>
  	</div>

    <div layout="row" layout-align="start center" ng-show="keywords.selected.length">
      <source-select class="md-padding" source-list="sourceList" selected-source="urlParams.source" style="padding-left: 0;"></source-select>
      <type-select ng-show="!SAPOMode" style="margin: 0 10px;"></type-select>
      <!-- <date-select style="margin: 0 10px;"></date-select> -->
<!--       <granularity-select ng-if="SAPOMode" style="margin: 0 10px;"></granularity-select>
      <cycle-select ng-if="SAPOMode" style="margin: 0 10px;"></cycle-select> -->
      <!-- <date-picker></date-picker> -->
    </div>

  </md-content>

  <loading-flash></loading-flash>

	<md-content ng-if="timeData && keywords.selected.length" class="md-whiteframe-z1" style="margin-top: 20px;" layout-padding>
  <p class="md-subhead" style="margin: 0px; padding: 8px 0 0 20px;" ng-if="keywords.selected.length">Articles published between {{urlParams.since}} and {{urlParams.until}} by all {{urlParams.source.name}} sources containing the terms {{keywords.selected.toString().split(',').join(', ')}}</p>
    <download-bar></download-bar>
    <div c3-chart dataset="timeData" type="area" options="timeChartOpts" xs="xsObj" style="padding:5px 0;"></div>
	</md-content>

  <md-content ng-if="countData && keywords.selected.length" class="md-whiteframe-z1" style="margin-top: 5px;" layout-gt-md="row" layout-padding>
    <div flex-gt-md="60" flex="100" layout-padding>
      <md-content layout="column" style="padding-top: 15px; padding-bottom: 35px;">
        <!-- <download-bar></download-bar> -->
        <p style="margin-bottom: 20px;">Total articles</p>
        <div layout="row">
          <div flex="10" layout="column" layout-align="space-around center">
            <p class="md-caption" ng-repeat="count in articlesCount" style="margin: 0; margin-right: 5px;">{{count[1]}}</p>
          </div>
          <div flex="90" c3-chart dataset="countData" type="bar" options="barChartOpts" xs="xsObj" style="background-color: #eee;"></div>
        </div>
      </md-content>

    </div>
  </md-content>

</div>