<h1>Template Test</h1>

<select ng-controller="SourceSelectCtrl" ng-model="selectedSource" ng-change="loadSource(selectedSource)" ng-options="source.name group by source.type for source in sourceList"></select>

<p ng-show="loading">A carregar</p>

<button ng-click="loadData('twitter')">Load twitter shares</button>
<button ng-click="loadData('facebook')">Load facebook shares</button>

<div class="chart"></div>

<p>{{ currentSource }}</p>

<ul>
	<li ng-repeat="source in sourceList">{{ source }}</li>
</ul>

<p>{{ sourceData }}</p>