<div id="dashboard" ng-controller="DashboardCtrl">
	<h1>{{ selectedSource.name }}</h1>

	<select ng-controller="SourceSelectCtrl" ng-model="selectedSource" ng-change="loadSource(selectedSource)" ng-options="source.name group by source.type for source in sourceList"></select>

	<form ng-submit="setParams()">
		<input type="text" ng-model="query" placeholder="Pesquisar" class="row">
		<input type="date" ng-model="since" placeholder="Data de início (AAAA-MM-DD)">
		<input type="date" ng-model="until" placeholder="Data de fim (AAAA-MM-DD)">
		<input type="submit" value="Submeter">
	</form>

	Twitter shares: <input type="checkbox" ng-model="twitterLoaded" ng-click="loadData('twitter')">
	Facebook shares: <input type="checkbox" ng-model="facebookLoaded" ng-click="loadData('facebook')">

	<div class="chart-wrapper md-col-10">
		<div class="loading-overlay" ng-show="loading.chart1"><p>A carregar...</p></div>
		<div class="button-group">
		  <label>
		    <input type="radio" ng-model="selectedTime" name="button-group" value="month" ng-change="changeTime()">
		    <span class="button-group-item">Mês</span>
	  	</label>
		  <label>
		    <input type="radio" ng-model="selectedTime" name="button-group" value="day" ng-change="changeTime()">
		    <span class="button-group-item">Dia</span>
		  </label>
		  <label>
		    <input type="radio" ng-model="selectedTime" name="button-group" value="hour" ng-change="changeTime()">
		    <span class="button-group-item">Hora</span>
		  </label>				
		</div>
		<div class="chart"></div>		
	</div>

	
	<div class="chart-wrapper md-col-2 omega">
		<div class="loading-overlay" ng-show="loading.chart2"><p>A carregar...</p></div>
		<div class="chart2"></div>	
	</div>

	<div class="chart-wrapper md-col-10">
		<table>
			<tbody>
				<tr ng-repeat="item in itemsData">
					<td><a href="{{ item.url }}">{{ item.title }}</a></td>
					<td>{{ item.source }}</td>
					<td>{{ item.pub_date | date:'yyyy-MM-dd HH:mm' }}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>