<div id="newsmap" layout="column">
  <div layout="row" layout-align="start center" style="padding: 0 0 0 16px;">
    <md-select ng-model="selectedMap" ng-change="setSelectedMap(selectedMap)" style="margin: 0;">
      <md-option ng-repeat="mapType in mapTypes" ng-value="mapType">{{mapType.name}}</md-option>
    </md-select> 
    <date-select></date-select>
    <date-picker></date-picker>
  </div>
  <div layout="column" layout-gt-md="row" style="margin-top: -10px;">
    <div flex ng-repeat="map in mapsToRender" ng-if="map.display">
      <div class="map-container md-whiteframe-z1">
        <md-toolbar class="map-toolbar" style="background-color: #ddd; border-bottom: 1px solid #e1e1e1;">
          <div class="md-toolbar-tools">
            <source-select source-list="sourceList" selected-source="map.source"></source-select>
            <form ng-submit="setQuery(map.keyword, map)" style="margin-left: 20px;">
              <md-input-container>
                <label>Pesquisar</label>
                <input ng-model="map.keyword" id="search-input">
              </md-input-container>
            </form>
            <span flex></span>
            <md-button ng-show="countDisplayMaps() === 1" class="md-raised md-{{theme}}-theme md-primary" ng-click="appendMap()">Comparar</md-button>
            <md-button class="md-icon-button" aria-label="Fechar" ng-click="closeMap(map.name)" ng-show="countDisplayMaps() > 1">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content>
          <div>
          <download-bar></download-bar>
            <div world-map data="map.data" id="{{map.name}}" ng-if="selectedMap.type === 'world'"></div>
            <div pt-map data="map.data" id="{{map.name}}" ng-if="selectedMap.type === 'portugal'"></div>
          </div>
        </md-content>
      </div>
    </div>
  </div>
</div>