<div id="newsmap">
  <div layout="column" layout-gt-md="row">
    <div flex="{{100 / numMaps}}">
      <md-card>
        <md-card-content>
          <div layout="row" layout-align="start center" flex>
            <div source-select></div>
            <form ng-submit="setQuery(inputKeyword)" style="margin-left: 20px;">
              <md-input-container>
                <label>Palavra-chave</label>
                <input ng-model="inputKeyword" id="search-input">
              </md-input-container>
            </form>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="appendMap()">Comparar</md-button>
          </div>
          <div world-map data="mapData"></div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>