<h3>Social</h3>

<div class="keyword-select">
	<ui-select multiple tagging tagging-label="false" ng-model="keywords.selected" style="min-width: 400px;" reset-search-input="true" search-enabled="false" on-select="redrawChart()">
    <ui-select-match placeholder="Introduzir palavras a pesquisar...">{{$item}}</ui-select-match>
    <ui-select-choices repeat="keyword in keywords.selected">
      {{ keyword }}
    </ui-select-choices>
  </ui-select>
  <button class="clear-chart" ng-click="clearChart()">Limpar gráfico</button>		
</div>

<div class="home-search-bar">
  <ui-select ng-model="selectedSource.selected" on-select="loadSourceData($item, $model)" style="min-width: 300px">
    <ui-select-match placeholder="Escolher/pesquisar fontes...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="source in sourceList | filter: $select.search" group-by="groupSourcesByType">
    		{{ source.name }}
      <div ng-bind-html="trustAsHtml((source.name | highlight: $select.search))"></div>
    </ui-select-choices>
  </ui-select>
</div>
<hr>


<loading-flash>A carregar...</loading-flash>

<div id="keyword-chart">
</div>