<div id="sources" layout-padding layout="column">
  <md-whiteframe class="md-whiteframe-z1" layout-padding flex style="background-color: #FFF;">
    <div flex layout="row">
      <form ng-submit="setQuery(query)">
        <md-input-container>
          <label>Palavra chave</label>
          <input ng-model="query">
        </md-input-container>
      </form>
    </div>
    <div flex layout="row">
      <div flex="80">
        <source-select-chips source-list="sourceList" selected="selectedSources"></source-select-chips>
      </div>
      <div flex="20" layout-align="center">
        <md-button class="md-raised md-warn" ng-click="clearChart()">Limpar</md-button>     
      </div>
    </div>
  </md-whiteframe>

  <md-content>
    <div class="md-padding">
      <div c3-chart dataset="sapoData" type="line" options="timeChartOpts" xs="xsObj" class="md-padding" watch-params="sources"></div>
    </div>
  </md-content>
</div>