<div id="source-detail">

<div class="home-search-bar">
  <ui-select ng-model="selectedSources.selected" on-select="goToSourcePage($item, $model)" style="min-width: 300px">
    <ui-select-match placeholder="Escolher/pesquisar fontes...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="source in sourceList | filter: $select.search" group-by="groupSourcesByType">
    		{{ source.name }}
      <div ng-bind-html="trustAsHtml((source.name | highlight: $select.search))"></div>
    </ui-select-choices>
  </ui-select>
</div>
<hr>

	<div class="source-card">
		<div class="source-info">
			<h2>{{ currentSource.name }}</h2>
			<a href="{{sourceData[0].url}}">{{ sourceData[0].url }}</a>
		</div>
		<hr>
		<div class="source-chart">
			<div id="time-chart">
			</div>
			<div class="chart-controls">
				<a href="" ng-click="displayBy('hour')" ng-class="{'selected':by === 'hour'}">24 Horas</a>
				<a href="" ng-click="displayBy('week')" ng-class="{'selected':by === 'week'}">Semana</a>
				<a href="" ng-click="displayBy('day')" ng-class="{'selected':by === 'day'}">Dia</a>
				<a href="" ng-click="displayBy('month')" ng-class="{'selected':by === 'month'}">Mês</a>
			</div>
		</div>
		<div class="share-charts">
			<div id="twitter-share-chart" class="six-col"></div>
			<div id="facebook-share-chart" class="six-col"></div>
		</div>
	</div>


	<div class="source-stats">
		<p class="stat">{{ sourceData[0].total_items }}</p>
		<p class="stat-name">Artigos (Total)</p>
		<hr>

		<p class="stat">{{ sourceData[0].avg_day }}</p>
		<p class="stat-name">Artigos/Dia (Média)</p>
		<hr>

		<p class="stat">{{ sourceData[0].avg_month }}</p>
		<p class="stat-name">Artigos/Mês (Média)</p>
		<hr>

		<p class="stat">{{ sourceData[0].total_feeds }}</p>
		<p class="stat-name">Feeds</p>
		<hr>

		<p class="stat">{{ sourceData[0].total_shares }}</p>
		<p class="stat-name">Partilhas (Total)</p>
		<div id="share-chart"></div>	
		<hr>

		<p class="stat">{{ sourceData[0].avg_shares }}</p>
		<p class="stat-name">Partilhas (Média)</p>
		<hr>

	</div>	
</div>




