<div id="sources" layout-padding layout="column">
  
  <md-whiteframe class="md-whiteframe-z1" layout-padding flex style="background-color: #FFF;">
    
    <div flex layout="row">
      <div flex="80">
        <source-select-chips source-list="sourceList" selected="selectedSources"></source-select-chips>
      </div>
      <div flex="20" layout-align="center">
        <md-button class="md-raised md-warn" ng-click="clearChart()">Limpar</md-button>     
      </div>
    </div>

    <div flex layout="row" layout-align="start center" ng-show="selectedSources.length > 0" style="padding-bottom: 0px;">
      <div layout="row" layout-align="start center" style="padding: 12px 6px;">
        <span style="display: block;">Pesquisa</span>
        <md-switch ng-model="searchSwitch" aria-label="Pesquisa" ng-change="checkValue(searchSwitch)" class="md-primary">
        </md-switch>
      </div>
      <div ng-show="searchSwitch" layout="row" layout-align="start center">
        <form ng-submit="setQuery(inputKeyword)">
          <md-input-container>
            <label>Palavra-chave</label>
            <input ng-model="inputKeyword" id="search-input">
          </md-input-container>
        </form>
        <md-button class="md-icon-button" aria-label="Limpar" ng-click="clearInput()" ng-show="keyword.value.length">
          <md-icon md-svg-icon="images/icons/ic_clear_black_24px.svg"></md-icon>
        </md-button>
      </div>
      <date-select></date-select>
      <!-- <md-button class="md-raised md-primary" ng-click="showPickerDialog($event)">Data</md-button> -->
    </div>

  </md-whiteframe>

  <md-content ng-show="selectedSources">
    <div style="padding: 0 16px;">
      <!-- <div c3-chart dataset="sapoData" type="area" options="timeChartOpts" xs="xsObj" watch-params="sources"></div> -->
      <div c3-chart dataset="weekData" type="area" options="weekChartOpts" xs="xsObj"></div>
    </div>
  </md-content>
</div>