<div id="sources" layout-padding layout="column">
  
  <md-whiteframe class="md-whiteframe-z1" layout-padding flex style="background-color: #FFF;">
    
    <div flex layout="row">
      <div flex="80">
        <source-select-chips source-list="sourceList" selected="selectedSources"></source-select-chips>
      </div>
      <div flex="20" layout-align="center">
        <md-button class="md-raised md-warn" ng-click="clearChart()">Limpar</md-button>     
      </div>
    </div>

    <div flex layout="row" layout-align="start center" ng-show="selectedSources.length > 0">
      <div layout="row" layout-align="start center" style="padding: 12px 6px;">
        <span style="display: block;">Pesquisa</span>
        <md-switch ng-model="searchSwitch" aria-label="Pesquisa" ng-change="checkValue(searchSwitch)" class="md-primary">
        </md-switch>
      </div>
      <div ng-show="searchSwitch" layout="row" layout-align="start center">
        <form ng-submit="setQuery()">
          <md-input-container>
            <label>Palavra-chave</label>
            <input ng-model="keyword.value" id="search-input">
          </md-input-container>
        </form>
        <md-button class="md-icon-button" aria-label="Limpar" ng-click="clearQuery()" ng-show="keyword.value.length">
          <md-icon md-svg-icon="images/icons/ic_clear_black_24px.svg"></md-icon>
        </md-button>
      </div>
    </div>

  </md-whiteframe>

  <md-content>
    <div class="md-padding">
      <div c3-chart dataset="sapoData" type="line" options="timeChartOpts" xs="xsObj" watch-params="sources"></div>
    </div>
  </md-content>
</div>