#articles {
	@include span-columns(12);
	background-color: #fff;
	border: 1px solid #DDD;
	border-radius: 2px;
	.article-controls {
		@include span-columns(12);
		background-color: #F2F2F2;
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid $light-gray;
		a {
			@include transition(all 0.3s);
			padding: 1.5em 2.5em;
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: darken($medium-brown, 40);
			&:hover, &:focus, &.selected {
				color: darken($medium-brown, 70);
			}
			&.selected {
				border-bottom: 2px solid darken($medium-brown, 70);
			}
		}
	}
	.search-bar {
		@include span-columns(12);
		padding: 1em;
		margin: 1em 0 0 0;
		border-bottom: 1px solid $light-gray;
		input[type=search] {
			@include span-columns(8);
			@include shift(2);
			height: 50px;
			border-radius: 25px;
		}
	}
	article {
		@include span-columns(12);
		border-bottom: 1px solid $light-gray;
		.article-content {
			@include span-columns(9);
			padding: 2em;
			.article-title {
				a {
					display: block;
					margin: 0.5em 0;
					color: $dark-gray;
					font-size: 0.6em;
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}
			.article-pub-date, .article-source {
				margin: 0;
				color: $medium-gray;
				font-size: 1em;
			}
			.article-url {
				word-wrap: break-word;
				a {
					color: $medium-gray;
					text-decoration: underline;
					&:hover, &:focus {
						color: $dark-gray;						
						text-decoration: none;
					}
				}
			}
			.article-source {
				color: darken($medium-gray, 20);
			}
		}
		.article-shares-chart {
			@include span-columns(3);
			@include omega();
			padding: 2em;
		}
	}
	// h1.item-title {
	// 	font-size: 0.95em;
	// 	a {
	// 		color: $dark-gray;
	// 		&:hover, &:active {
	// 			border-bottom: 1px solid $medium-gray;
	// 		}
	// 	}
	// }
	// p.item-source, p.item-pub-date {
	// 	margin-bottom: 0.7em;
	// 	font-size: 0.8em;
	// 	color: $medium-gray;
	// }
	// p.item-source {
	// 	color: $dark-gray;
	// }
	// .chronicle-item {
	// 	@include span-columns(12);
	// 	margin: 0.5em 0;
	// 	padding: 2em;
	// 	&.newspaper {
	// 		border-left: 4px solid $dark-gray;
	// 	}
	// 	&.blog {
	// 		border-left: 4px solid $light-gray;
	// 	}
	// 	.content {
	// 		@include media($medium-screen-up) {
	// 			@include span-columns(8);
	// 		}
	// 	}
	// 	.share-count-chart {
	// 	}
	// }
	// ul.source-type-links {
	// 	padding: 2em 0;
	// 	li {
	// 		&.selected {
	// 			border-bottom: 1px dotted $dark-gray;
	// 		}
	// 		margin-right: 1em;
	// 		display: inline;
	// 		&.all a {
	// 			color: #000;
	// 		}
	// 		&.newspapers a {
	// 			color: $dark-gray;
	// 		}
	// 		&.blogs a {
	// 			color: $light-gray;
	// 		}
	// 	}
	// }

}
