.flat-line {
	opacity: 0 !important;
}

.flat-area {
	opacity: 0.65 !important;
}

.flat-circle {
	opacity: 0 !important;
}

.c3-line {
	stroke-width: 2px !important;
}

.c3-ygrid {
	stroke-dasharray: 0;
	opacity: 0.2;
}
.c3-axis .domain {
	stroke: $light-gray;
}
.c3-axis-y .domain {
	opacity: 0;
}
.c3-axis-y-label, .c3-axis-x-label  {
	font-size: 14px;
	font-weight: bold;
}
.c3-brush .extent {
  fill-opacity: 0.1;
}
g rect.background {
	visibility: visible !important;
	fill: $light-gray;
	opacity: 0.2;
}
// g.resize {
// 	display: block !important;
// }
g.resize rect {
	visibility: visible !important;
	fill: $dark-gray !important;
}
.tick {
 line {
		stroke: $light-gray;
	}
	text {
		font-size: 12px;
	}
}

.c3-axis-y .tick {
	line {
		opacity: 0;
	}
}