.c3-line {
	stroke-width: 2px !important;
}

.c3-line {
	opacity: 0.3 !important;
}

.c3-area {
	opacity: 0.5 !important;
}

.c3-circle {
	opacity: 0 !important;
}

.c3-ygrid {
	stroke-dasharray: 0;
	opacity: 0.2;
}
.c3-axis .domain {
	stroke: #DDD;
}
.c3-axis-y .domain {
	opacity: 0;
}
.c3-axis-y-label, .c3-axis-x-label  {
	font-size: 14px;
	font-weight: bold;
}
.c3-brush .extent {
  fill-opacity: 0.1;
}
g rect.background {
	visibility: visible !important;
	fill: #DDD;
	opacity: 0.2;
}
// g.resize {
// 	display: block !important;
// }
g.resize rect {
	visibility: visible !important;
	fill: #333 !important;
}
.tick {
 line {
		stroke: #DDD;
	}
}

text {
	font-size: 12px;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.c3-axis-y .tick {
	line {
		opacity: 0;
	}
}