#chronicle {
	@include span-columns(12);
	.search-form {
		@include span-columns(12);
		background-color: $light-gray;
		padding: 0 1em 1em;
		border: 1px solid $medium-gray;
		margin-bottom: 1em;
	}
	.chart-tools {
		ul.mode-tools {
			margin-top: 0.5em;
			li {
				font-size: 0.8em;
				display: inline-block;
				margin-right: 0.5em;
				a {
					font-weight: bold;
					color: $dark-gray;
					padding: 0.3em 0.5em;
					&:hover {
						color: $hover-button-color;
					}
					&.selected {
						display: block;
						border-radius: 10px;
						background-color: $base-button-color;
						color: white;
					}
				}
			}
		}
	}
	.field-select {
		@include span-columns(12);
		span {
			float: left;
			font-size: 0.9em;
			margin-right: 1em;
		}
		label, input[type=radio] {
			float: left;
		}
		label {
			font-size: 0.9em;
			font-weight: normal;
		}
		input[type=radio] {
			margin-right: 1em;
		}

	}
	.keyword-select {
		@include span-columns(12);
		margin: 1em 0;
		.select2-container {
			@include span-columns(10);
		}
		.clear-chart {
			@include span-columns(2);
			padding: 0.5em;
		}
	}
	#keyword-chart {
		@include span-columns(12);
	}
}