#chronicle {
	.keyword-form {
		padding: 2em;
		@include media($medium-screen-up) {
			@include span-columns(8);
			@include shift(2);
			input[type='text'] {
				@include span-columns(8);
			}
		}
	}
	#keyword-chart {
		@include span-columns(12);
		.c3-line {
			stroke-width: 2px !important;
		}
		.c3-axis .domain {
			stroke: $light-gray;
		}
		.c3-axis-y-label, .c3-axis-x-label  {
			font-size: 14px;
			font-weight: bold;
		}
		.tick {
		 line {
				stroke: $light-gray;
			}
			text {
				font-size: 12px;
			}
		}
	}
	.clear-button {
		padding: 1em 0;
		@include span-columns(12);
		text-align: center;
	}
}