#compare {
	@include span-columns(12);
	.keyword-select {
		@include row();
		input {
			@include span-columns(6);
		}
		
	}
	.source-select {
	}
	.step {
		background-color: #395762;
		display: inline-block;
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		border-radius: 50%;
		color: white;
	}
	.search-tools {
		border-bottom: 1px solid $light-gray;
		padding: 1em;
		margin-bottom: 1em;
		ul {
			li {
				display: inline-block;
				a {
					padding: 0.5em 0.75em;
					color: $dark-gray;
					font-size: 0.9em;
					&:hover {
						border-bottom: 2px solid $medium-gray;
					}
					&.bordered {
						margin-left: 1em;
						border: 1px solid $medium-gray;
						border-radius: 3px;
						&:hover {
							//margin-left: (1em - em(1px));
							
						}
					}
				}
			}
		}
	}
	.selected {
		border-bottom: 2px solid $medium-gray;
	}
}