#flow {
	#time-chart {
		@include span-columns(12);
		margin-top: 1.5em;
	}
	.source-select {
		@include span-columns(12);
		margin: 1em 0;
		.select2-container {
			@include span-columns(10);
		}
		.clear-chart {
			@include span-columns(2);
			padding: 0.5em;
		}
	}
	.search-tools {
		border-bottom: 1px solid $light-gray;
		padding: 1em;
		ul {
			li {
				display: inline-block;
				a {
					padding: 0.5em 0.75em;
					color: $dark-gray;
					font-size: 0.9em;
					&:hover {
						border-bottom: 2px solid $medium-gray;
					}
					&.bordered {
						margin-left: 1em;
						border: 1px solid $medium-gray;
						border-radius: 3px;
						&:hover {
							//margin-left: (1em - em(1px));
							
						}
					}
				}
			}
		}
	}
	.selected {
		border-bottom: 2px solid $medium-gray;
	}
	.pickadate-selector {
		@include row();
		.pickadate-input {
			@include span-columns(4 of 12);
		}
	}
}