header {
	background-color: #455A64;
	margin-bottom: 1.5em;
	border-bottom: 1px solid darken($medium-blue, 20);
	.header-inner {
		h1 {
			float: left;
			display: inline; 
			a {
				color: #fff;
			}
		}
		@include outer-container;
		padding: 1em;
		nav.top-nav {
			display: inline;
			margin-left: 5em;
			float: left;
			ul {
				line-height: 3em;
				li {
					display: inline;
					padding: 0 0.5em;
					a {
						color: #CFD8DC;
						text-transform: uppercase;
						font-weight: bold;
						&:hover, &:focus {
							border-bottom: 1px solid $light-gray;
						}
					}
				}
			}
		}		
	}
}