header {
	background-color: lighten($light-gray, 10);
	margin-bottom: 1.5em;
	border-bottom: 2px solid $light-gray;
	.header-inner {
		h1 {
			float: left;
			display: inline; 
			a {
				color: $dark-gray;
			}
		}
		@include outer-container;
		padding: 1em 0;
		nav.top-nav {
			display: inline;
			margin-left: 5em;
			float: left;
			ul {
				line-height: 3em;
				li {
					display: inline;
					padding: 0 0.5em;
				}
			}
		}		
	}
}