.about-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	background-color: $dark-gray;
	color: white;
	border-radius: 50%;
	float: left;
	margin-left: 1em;
	margin-top: 7.5px;
	&:hover, &:focus {
		background-color: darken($medium-gray, 10);
	}
	a, a:hover, a:active {
		color: white;
		display: block;
	}
}

.content-well {
	@include span-columns(12);
	position: relative;
	background-color: #f7f7f7;
	border-radius: 3px;
	//border: 1px solid #ddd;
	padding: 1.5em 1.618em;
	margin: 1em 0 0.5em 0;
	box-shadow: inset 0 0 1px #999, 0 2px 4px #e6e6e6;
	opacity: 1;
	transition: all 0.8s ease;
	&.visible {
		opacity: 1;
	}
	&.invisible {
		opacity: 0;
		padding: 0 1.618em;
		// opacity: 0;
		// height: 0;
		// padding: 0;
	}
	&.invisible > * {
		opacity: 0;
		padding: 0;
		line-height: 0;
		display: hidden;
	}
	.close-button {
    @include position(absolute, (0.5em) (0.5em) null null);
    @include size(1em);
    cursor: pointer;
    background: #f7f7f7;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1em);
      background: $medium-gray;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($medium-gray, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
	}
}