#source-detail {
	@include span-columns(12);
	.six-col {
		padding: 1em 0;
		@include span-columns(6 of 12);
		@include omega(2n);
	}	
	.source-card {
		@include media($medium-screen-up) {
			@include span-columns(9);
		}
		margin-bottom: 2em;
		background-color: white;
		padding: 2.5em;
		border: 1px solid $light-gray;
		border-radius: 2px;
		.source-info {
			@include row();
			h2 {
				font-weight: 400;
			}
			a {
				font-weight: 300;
				color: $medium-gray;
				font-size: 1.2em;
				&:hover, &:focus {
					border-bottom: 1px solid $medium-gray;
				}
			}
		}
		.source-chart {
			.chart-controls {
				background-color: $medium-brown;
				margin: 2em -2.5em 0 -2.5em;
				display: flex;
				justify-content: space-around;
				a {
					@include transition(all 0.3s);
					padding: 1.5em 2.5em;
					display: block;
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;
					color: darken($medium-brown, 40);
					&:hover, &:focus, &.selected {
						color: darken($medium-brown, 70);
					}
					&.selected {
						border-top: 2px solid darken($medium-brown, 70);
					}
				}
			}
		}
		.share-charts {
			@include row();
			padding-top: 2.5em;
			#facebook-share-chart {
				border-left: 1px solid $light-gray;
			}
		}
	}
}

.split-stats {
	.twitter-stats, .facebook-stats {
		@include span-columns(6);
		text-align: center;
		padding: 1em 0;
		&:first-child {
			border-right: 1px solid $light-gray;
		}
	}
	.stat-name {
		color: $medium-gray;
		font-size: 1em;
	}
}

button.white {
	width: 100%;
	background-color: white;
	border: 1px solid $medium-gray;
	color: $dark-gray;
	font-weight: normal;
	&:hover, &:focus {
		background-color: $light-gray;
	}
}
