// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$light-brown: #F4F5F7;
$medium-brown: #F2F2F2;
$medium-blue: #5F7C8A;
$dark-blue: #395762;