@charset "utf-8";

// @import "bourbon";
// @import "base/base";
// @import "neat";
@import "../components/angular-material/angular-material";
@import "../components/c3/c3";
// @import url(//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// @import "../components/angular-ui-select/dist/select";
// @import "../components/angular-pickadate/src/angular-pickadate";
@import "../components/md-date-time/dist/md-date-time";

@import "partials/_variables.scss";
@import "partials/_sidenav.scss";
@import "partials/_charts.scss";

body {
	background-color: #EDECEC;
}

.md-scroll-mask {
  position: initial !important;  
}

.time-date > .display {
  display: none !important;
}

.map-container {
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
  .map-toolbar {
  	border-radius: 3px 3px 0 0;
  	box-shadow: 0 1px rgba(255, 255, 255, 0.1);
	}
}

// @import "partials/*.scss";
