<header>
	<div class="header-inner">
		<h1><a href="/">MediaViz</a></h1>

		<nav class="top-nav">
			<ul>
				<li><a href="#/chronicle">Chronicle</a></li>
				<li><a href="#/flow">Flow</a></li>
				<li><a href="#/about">About</a></li>
			</ul>	
		</nav>
	</div>
</header>