<header>
	<div class="header-inner">
		<h1><a href="#/">MediaViz</a></h1>

		<nav class="top-nav">
			<ul>
				<li><a href="#/chronicle">Crónica</a></li>
				<li><a href="#/flow">Fluxo</a></li>
				<li><a href="#/compare">Comparador</a></li>
				<li><a href="#/coverage">Cobertura</a></li>
				<li><a href="#/photofinish">PhotoFinish</a></li>
				<li><a href="#/newsmap">Newsmap</a></li>
				<li><a href="#/about">Sobre</a></li>
			</ul>
		</nav>
	</div>
</header>