<md-toolbar class="md-default-theme">
	<div class="md-toolbar-tools" tabindex="-1">
		<md-button class="md-icon-button md-button md-default-theme" ng-click="toggleMenu()">
			<md-icon style="color: #fff;">menu</md-icon>
		</md-button>
    <h2><a href="#/">MediaViz</a></h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Ajuda">
      <md-icon>help</md-icon>
    </md-button>
  </div>
  <!-- Will need method to detect current url and change toolbar on demand -->
<!--   <div ng-if="pageIs('/chronicle') === 'isPage' || pageIs('/chronicle/SAPO') === 'isPage'" ng-include="'partials/app/chronicle_toolbar.html'" ng-controller="ChronicleCtrl"></div> -->
</md-toolbar>
