<md-toolbar class="md-{{theme}}-theme white-bg" ng-if="defaultToolbar">
  <div class="md-toolbar-tools">
  	<md-button class="md-icon-button" ng-click="toggleMenu()">
  		<md-icon>menu</md-icon>
  	</md-button>
    <h2><a href="#/">MediaViz</a></h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Ajuda">
      <md-icon>help</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-{{theme}}-theme" ng-if="SAPOToolbar" style="min-height: 112px;">
  <div class="md-toolbar-tools">
    <h2 style="padding-left: 24px;"><a href="#/SAPO">SAPO NewsViz</a></h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Ajuda">
      <md-icon>help</md-icon>
    </md-button>
  </div>
  <md-tabs class="md-{{theme}}-theme md-primary md-no-tab-content" md-selected="selectedIndex.value" style="padding-left: 16px;">
    <md-tab label="palavras-chave"></md-tab>
    <md-tab label="fontes"></md-tab>
    <md-tab label="newsmap"></md-tab>
  </md-tabs>
</md-toolbar>


