<md-toolbar class="md-default-theme">
	<div class="md-toolbar-tools" tabindex="-1">
		<md-button class="md-icon-button md-button md-default-theme" ng-click="toggleMenu()">
			<md-icon md-svg-icon="images/icons/ic_menu_48px.svg" style="color: #fff;"></md-icon>
		</md-button>
    <h2 class="md-flex">{{pageTitle.split(" || ")[1]}}</h2>
  </div>
</md-toolbar>