<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" style="width:200px; max-width: 200px; min-width: 200px;">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">
			<a href="#/" ng-click="toggleMenu()">MediaViz</a>
		</h1>
	</md-toolbar>

	<md-content role="navigation">
		<ul class="sidenav">
			<li>
				<md-button ng-href="#/chronicle" ng-click="toggleMenu()">Crónica</md-button>
			</li>
			<li>
				<md-button ng-href="#/flow" ng-click="toggleMenu()">Fluxo</md-button>
			</li>
			<li>
				<md-button ng-href="#/compare" ng-click="toggleMenu()">Comparador</md-button>
			</li>
			<li>
				<md-button ng-href="#/coverage" ng-click="toggleMenu()">Cobertura</md-button>
			</li>
			<li>
				<md-button ng-href="#/photofinish" ng-click="toggleMenu()">PhotoFinish</md-button>
			</li>
			<li>
				<md-button ng-href="#/stacks" ng-click="toggleMenu()">Stacks</md-button>
			</li>
		</ul>
	</md-content>

</md-sidenav>