<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" style="width:200px; max-width: 200px; min-width: 200px;">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">
		<md-button class="md-icon-button md-button md-default-theme" ng-click="toggleMenu()">
			<md-icon md-svg-icon="images/icons/ic_menu_48px.svg" style="color: #fff;"></md-icon>
		</md-button>
			<a href="#/" ng-click="toggleMenu()">MediaViz</a>
		</h1>
	</md-toolbar>

	<md-content role="navigation">
		<ul class="sidenav">
			<li>
				<md-button ng-href="#/chronicle" ng-click="toggleMenu()">Palavras-chave</md-button>
			</li>
			<li>
				<md-button ng-href="#/" ng-click="toggleMenu()">Fontes</md-button>
			</li>
			<li>
				<md-button ng-href="#/sapo" ng-click="toggleMenu()">Fontes (SAPO)</md-button>
			</li>
			<li>
				<md-button ng-href="#/newsmap" ng-click="toggleMenu()">NewsMap</md-button>
			</li>
		</ul>
	</md-content>

</md-sidenav>