<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">
			<a href="#/" ng-click="toggleMenu()">MediaViz</a>
		</h1>
	</md-toolbar>

	<md-content role="navigation">
		<md-list>
			<md-subheader class="md-no-sticky">Ferramentas</md-subheader>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/chronicle">Crónica</a></p>
			</div>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/flow">Fluxo</a></p>
			</div>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/compare">Comparador</a></p>
			</div>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/coverage">Cobertura</a></p>
			</div>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/photofinish">PhotoFinish</a></p>
			</div>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item class="md-1-line" ng-click="toggleMenu()">
			<div class="md-list-item-text">
				<p><a href="#/stacks">Stacks</a></p>
			</div>
			</md-list-item>

		</md-list>
	</md-content>

</md-sidenav>